In [ ]:
# JOIN Superstore_1 and Superstore_2 Table# 

SELECT * INTO Superstore 
FROM SUPERSTORE_1 
UNION 
SELECT * FROM superstore_2;

In [ ]:
# CREATE NEW COLUMN TO DISPLAY THE SALES OF THE NEXT ROW IN THE DATA

SELECT    
 Row_ID, Sales,
 LEAD (Sales, 1, 0)
 OVER(ORDER BY Row_ID) AS Sales_Next
FROM Superstore;

In [ ]:
# CREATE NEW COLUMN TO DISPLAY THE SALES OF THE NEXT PREVIOUS IN THE DATA

SELECT
 Row_ID, Sales,
 LAG (Sales, 1, 0)
 OVER(ORDER BY Row_ID) AS Sales_Previous
FROM Superstore;

In [ ]:
# RANK DATA BASED ON SALES 

SELECT
 Row_ID, Sales,
 RANK ()
 OVER(ORDER BY Sales DESC) AS Sales_Rank
FROM Superstore;

In [ ]:
# DAILY SALES AVERAGE

SELECT 
 AVG(Sales) AS Avgsales
FROM SuperStore;

In [ ]:
# MONTHLY SALES AVERAGE

SELECT 
  AVG(Sales) AS Avgsales, DATENAME(MONTH, Order_Date) Month
FROM SuperStore
GROUP BY DATENAME(MONTH, Order_Date)
ORDER BY Avgsales;

In [ ]:
# DISCOUNT ON TWO CONSECUTIVE DAYS

SELECT 
Order_date, Sales, Discount
FROM Superstore
WHERE Order_Date between '2014-01-18' AND '2014-01-19'

In [ ]:
# MOVING AVERAGE

SELECT
 Order_date,TotalSales,  AVG(TotalDiscount)
 OVER(ORDER BY Order_Date ROWS BETWEEN 1 PRECEDING AND CURRENT ROW) TwoDaysMovingAverage
FROM (
 SELECT SUM(Sales) AS Totalsales, SUM(discount) AS Totaldiscount, Order_Date
FROM SuperStore
GROUP BY Order_Date) AS MovingAvg;